@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

*{
  font-family: "Outfit", sans-serif;
}
#root{
  background-image: url('./assets/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.active{
  background-color: #CFDBA3;
  border-radius: 4px;
  transition: all 1s ease;
}